.background {
  height: 100vh;
  width: 100%;
  z-index: -3;
  grid-area: 1 / 1 / 2 / 2;
}

.background.active {
  z-index: -1;
}

#background-home {
  background: url("../images/mer.jpg") no-repeat center center fixed;
  background-size: cover;
}

#background-about {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/sunset.jpg") no-repeat center center fixed;
  background-size: cover;
}

#background-skills {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/sunset.jpg") no-repeat center center fixed;
  background-size: cover;
}

#background-portfolio {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/wave.jpg") no-repeat center center fixed;
  background-size: cover;
}

#background-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/wave.jpg") no-repeat center center fixed;
  background-size: cover;
}

.background canvas {
  position: relative;
  height: 100%;
  width: 100%;
}
