@import "background.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

:root {
  --my-black: #03131c;
  --my-dark-grey: #293b44;
  --my-grey: #4a565d;
  --my-light-blue: #b5c6d0;
  --my-blue: #708d9c;
  --my-dark-blue: #5a7988;
  --my-white: #ffffff;
}

html,
body {
  height: 100px;
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas: "ocean main";
  grid-template-columns: 33fr 67fr;
  grid-template-rows: 1fr;
}

.content {
  grid-area: main;
  border-left: 1px solid var(--my-dark-blue);
  display: grid;
  grid-template-rows: min-content;
  align-content: center;
}

.fullname {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.name {
  background: url(../images/mer.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  color: var(--my-white);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-size: 150px;
  font-family: Anton, sans-serif;
  font-weight: bold;
  text-align: center;
  transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  margin: 0 4px;
  padding: 0;
  -webkit-text-stroke: 1px var(--my-dark-blue);
}

.title {
  display: grid;
  grid-template-columns: auto 79px;
  grid-template-rows: auto 20px;
}

.name.last {
  grid-area: 1 / 1 / 3 / 3;
}

.subtitle {
  grid-area: 2 / 1 / 3 / 2;
  text-align: right;
  align-self: center;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--my-dark-grey);
}

.side {
  grid-area: ocean;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-width: 0;
}

.menu {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  margin: 0 16px;
  color: var(--my-white);
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: right;
  -webkit-text-stroke: 1px var(--my-dark-grey);
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 16px 0;
}

@media screen and (max-width: 840px) {
  .container {
    grid-template-areas: "main" "ocean";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
  }

  .background {
    height: calc(100vh - 305px);
    height: calc(var(--vh, 1vh) * 100 - 305px);
  }

  .content {
    height: 304px;
    border-bottom: 1px solid var(--my-dark-grey);
  }

  .menu {
    justify-self: center;
    text-align: center;
  }
}

@media screen and (max-width: 485px) {
  .name {
    font-size: 100px;
  }

  .title {
    grid-template-columns: auto 55px;
    grid-template-rows: auto 16px;
  }

  .content {
    height: 234px;
  }

  .background,
  .side {
    height: calc(100vh - 235px);
    height: calc(var(--vh, 1vh) * 100 - 235px);
    overflow: hidden;
  }

  .menu li:first-child,
  .menu li:last-child {
    padding-top: 4px;
  }
}
